/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: none;
   border: none;
   text-decoration: none;
   font-family: "Poppins", sans-serif;
   transition: all 0.2s linear;
}

.container {
   height: 100vh;
   background: #c0c78c;
   display: flex;
   align-items: center;
   justify-content: center;
}

.btn {
   color: #fff;
   background: #b99470;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
   border-radius: 4px;
   padding: 10px 50px;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 2px;
   cursor: pointer;
}

.btn:hover {
   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
   transition: all 0.4s ease-in-out;
}
.btn:active {
   transform: scale(0.95);
}

.popup-container {
   position: fixed;
   top: 0;
   left: -120%;
   z-index: 100;
   background: rgba(0, 0, 0, 0.3);
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.popup-container.toggle {
   left: 0%;
}

.popup-container .popup {
   background: #fff;
   padding: 20px 10px;
   border-radius: 2px;
   text-align: center;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
   position: relative;
}

.popup-container .popup h3 {
   padding: 5px 30px;
   font-size: 24px;
}

.popup-container .popup input[type="radio"] {
   display: none;
}

.popup-container .popup .icons {
   padding: 20px;
}

.popup-container .popup .icons label {
   font-size: 42px;
   cursor: pointer;
   opacity: 0.5;
}
.popup-container .popup #btn1:checked ~ .icons label:nth-child(1),
.popup-container .popup #btn2:checked ~ .icons label:nth-child(2),
.popup-container .popup #btn3:checked ~ .icons label:nth-child(3),
.popup-container .popup #btn4:checked ~ .icons label:nth-child(4),
.popup-container .popup #btn5:checked ~ .icons label:nth-child(5),
.popup-container .popup .icons label:hover {
   opacity: 1;
   font-size: 43px;
   transition: all 0.4s linear;
}

.popup-container .popup #close {
   position: absolute;
   top: -15px;
   right: -15px;
   border-radius: 50%;
   border: 2px solid #b99470;
   background: #fefae0;
   height: 40px;
   width: 40px;
   line-height: 35px;
   cursor: pointer;
   font-size: 20px;
}

.popup-container .popup #close:hover {
   transform: rotate(180deg);
}
